apiVersion: v1
kind: ConfigMap
metadata:
  name: httpd-config
data:
  httpd.conf: |
    LoadModule mpm_event_module modules/mod_mpm_event.so
    Listen 8080
    ServerName localhost

    <VirtualHost *:8080>
        DocumentRoot "/usr/local/apache2/htdocs/"
        <Directory "/usr/local/apache2/htdocs/">
            AllowOverride None
            Require all granted
        </Directory>
        ErrorLog /proc/self/fd/2
        CustomLog /proc/self/fd/1 common
    </VirtualHost>